[2015-02-25 16:54] inglesp opened #1 "Publish landing page on website"

[2015-02-25 16:54] inglesp opened #2 "Set up booking page"

[2015-02-25 16:54] inglesp opened #3 "Draft announcement email"

[2015-02-25 16:54] inglesp opened #4 "Collate list of lists for announcements"

[2015-02-25 16:54] inglesp opened #5 "Find venue for launch party in Midlands"

[2015-02-25 16:54] inglesp opened #6 "Find venue for launch party in London"

[2015-02-25 16:54] inglesp opened #7 "Find way of sharing access to @pyconuk Twitter account"

[2015-02-25 18:21] inglesp opened #8 "Start discussion about website/wiki"

[2015-02-25 18:22] inglesp opened #9 "Get details of all rooms and capacities"

[2015-02-25 18:22] inglesp opened #10 "Contact Lightning Talk Man"

[2015-02-25 18:22] inglesp opened #11 "Share plans for science track"

[2015-02-25 18:22] inglesp opened #12 "Share plans for education track"

[2015-02-25 18:23] inglesp opened #13 "Share financials spreadsheet"

[2015-02-25 18:24] inglesp opened #14 "Start discussion about Django Girls"

[2015-02-25 18:25] inglesp opened #15 "Create blank timetable"

[2015-02-25 18:25] inglesp opened #16 "Create wiki page for each strand"

[2015-02-25 18:25] inglesp opened #17 "Start discussion about applications to PSF for funding"

[2015-02-25 18:25] inglesp opened #18 "Start discussion about financial aid"

[2015-02-25 18:25] inglesp opened #19 "Start discussion about sponsorship strategy"

[2015-02-25 18:25] inglesp opened #20 "Start discussion about 2016 dates and venue"

[2015-02-25 20:23] inglesp opened #21 "Make sponsorship proposal to BAML"

[2015-02-25 23:12] snim2 opened #22 "Write copy for science track page"

[2015-02-25 23:15] snim2 commented on #11
Should this be done via these Issues?

[2015-03-01 23:58] inglesp commented on #11
No, I think we should still use the mailing list for this kind of thing, at least until everyone's got the hang of Issues.

[2015-03-02 00:00] #4 closed, assigned to inglesp

[2015-03-02 00:00] #9 closed, assigned to nobody

[2015-03-03 23:34] #3 closed, assigned to nobody

[2015-03-03 23:34] #8 closed, assigned to nobody

[2015-03-12 16:59] #14 closed, assigned to nobody

[2015-03-12 16:59] #19 closed, assigned to nobody

[2015-03-17 10:04] ntoll commented on #21
This,

https://docs.google.com/spreadsheets/d/1VOJx395vQOlD9TXuIY9GJzaMaVsZpzst2UqPeGbltaU/edit?usp=sharing

is a revised copy of the spreadsheet I sent over to Sal at Bank of
America. I created rows 2, 3, 4 and 7. One of the Django Girls added
line items 5 and 6.

The general strategy is that we ask for the moon on a stick, they
suggest something less but still relatively generous (which is why
i

[2015-03-17 10:04] #21 closed, assigned to nobody

[2015-03-17 10:04] ntoll commented on #17
This page: https://www.python.org/psf/grants/ states that we can
expect $10 per regular attendee and $50 per person attending an
education track.

Given around 300 regular attendees and at least around 150 on the
education track (including DjangoGirls, TransCode) that gives the
following estimated figures:

300x10=$3000
150x50=$7500
TOTAL =$10500

(that's around £7000)

Finally, there is also the

[2015-03-17 10:04] #17 closed, assigned to nobody

[2015-03-17 10:05] ntoll commented on #16
See:

http://pyconuk.net/EducationTrack and http://pyconuk.net/ScienceTrack

[2015-03-17 10:05] #16 closed, assigned to nobody

[2015-03-20 00:31] doismellburning opened #23 "[Proposal] Traffic light fast-feedback system for talks"
Have just spent the day at [PipelineConf](http://pipelineconf.info/). In the spirit of continuous delivery and a tight feedback cycle, attendees were all given post-its in their swag bags when they turned up - a small stack of red, yellow and green ones. At the end of each talk, someone stood by the door with a box, and people were asked to drop a post-it in as feedback. They could comment with mo

[2015-03-20 00:32] doismellburning commented on #1
@inglesp I note you've used labels here - is that because originally @hawkz and @ntoll weren't org members? Now that they are, shall we just tag and remove the label hack?

[2015-03-20 09:36] inglesp commented on #1
Yes, good idea, thanks.

[2015-03-24 22:49] inglesp opened #24 "Advertise for sponsorship officer"

[2015-03-24 22:49] inglesp opened #25 "Start Google doc for brainstorming of keynoters"

[2015-03-24 22:49] inglesp opened #26 "Hack something together for SMS messaging"

[2015-03-24 22:49] inglesp opened #27 "Set up DNS for pyconuk.org"
This is only half done -- www.pyconuk.org does the right thing, but pyconuk.org does not.

[2015-03-24 22:49] inglesp opened #28 "Ensure venue is trans-friendly"
Am assigning this to @nceder in the first instance, but this is everyone's responsibility.

[2015-03-24 22:49] inglesp opened #29 "Invite DjangoGirls organisers to mailing list"

[2015-03-24 22:49] inglesp opened #30 "Arrange beer with Fuzzy Duck"
This is planned to be a "John Pinner Tribute Beer".

[2015-03-24 22:49] inglesp opened #31 "Investigate the creche"

[2015-03-24 22:49] inglesp opened #32 "Talk about Pycon UK at Pycon in Montreal"

[2015-03-24 22:49] inglesp opened #33 "Start discussion about registration/info desk requirements"

[2015-03-24 22:49] inglesp opened #34 "Plan remembrance of John during conference opening"

[2015-03-24 22:49] inglesp opened #35 "Ask Sandra for mug cupboard at venue"

[2015-03-25 11:21] holdenweb commented on #32
Who all is planning to be in Montreal (besides me)? We should give a lightning talk at least, and hopefully maybe an open space session as well, right? I'll be happy to collaborate on that.

[2015-03-25 11:26] holdenweb commented on #26
What's required? Something to send text messages to all registered delegates?

[2015-03-25 11:27] ntoll commented on #32
I'm there. The plan is that I give a lightning talk about PyconUK and specifically the education track as part of the education summit.

N.

[2015-03-25 11:29] holdenweb commented on #23
One year PyCon US used tokens, to be dropped in a good/bad/indifferent box. Then they had to be weighed. It was a total mess, and made far too much work. Anything that requires counting tokens of any kind is bound to be a bit painful.

Oddly enough, speaker and talk quality correlate positively with attendance, in general. So if we want to capture information about speaker desirability the best wa

[2015-03-26 01:05] holdenweb commented on #32
Cool. See you there.  S

On Mar 25, 2015, at 11:27 AM, Nicholas Tollervey notifications@github.com wrote:

##

Steve Holden steve@holdenweb.com / +1 571 484 6266 / +44 113 320 2335 / @holdenweb

[2015-04-19 16:27] #24 closed, assigned to inglesp

[2015-04-21 20:53] inglesp commented on #12
We've got http://www.pyconuk.org/education/, so I think we can tick this off.

[2015-04-21 20:53] #12 closed, assigned to ntoll

[2015-04-21 20:53] inglesp commented on #11
@snim2, it'd be good to have some text for http://www.pyconuk.org/science/ as soon as possible.  Can you either submit a pull request to the site, or send some text to the mailing list?

[2015-04-21 20:53] inglesp commented on #10
Do we know whether this has been done?

[2015-04-21 20:53] inglesp commented on #29
I'm not aware of this having been done.  @ntoll, as you've been in touch with them about this, can you follow up?

[2015-04-21 20:53] inglesp commented on #33
This can wait until closer to the event.

[2015-04-21 20:53] inglesp commented on #32
I assume this has been done -- if not, it's too late!

[2015-04-21 20:53] #32 closed, assigned to ntoll

[2015-04-21 20:53] inglesp commented on #25
Turns out I did do this after all, but then didn't share it with anyone.  Discussion of keynoters has moved to the mailing list.

[2015-04-21 20:53] #25 closed, assigned to inglesp

[2015-04-21 20:54] inglesp commented on #31
We're going to offer a creche on the registration form, and work out what we need to provide based on that.  I'm going to keep this issue open, but change the milestone, so that we don't lose sight of it!

[2015-04-21 20:54] inglesp commented on #13
Mary has shared last year's incomings and outgoings with the mailing list.

[2015-04-21 20:54] #13 closed, assigned to nobody

[2015-04-21 21:11] #1 closed, assigned to hawkz

[2015-04-21 21:11] #2 closed, assigned to nobody

[2015-04-21 21:11] #27 closed, assigned to nobody

[2015-04-21 21:22] inglesp opened #36 "Write a CFP page and form"
This has been done, see https://github.com/PyconUK/pyconuk.github.io/pull/30.

[2015-04-21 21:22] inglesp opened #37 "Merge ticket page pull request and launch conference!"
See https://github.com/PyconUK/pyconuk.github.io/pull/21.

@ntoll -- with you to decide whether we're ready to do this yet...

[2015-04-21 21:22] inglesp opened #38 "Contact "Rosetta people" about keynote"

[2015-04-21 21:22] inglesp opened #39 "Share CFP with organisations that promote diversity"

[2015-04-21 21:22] inglesp opened #40 "Find ISO John wanted to share with us"

[2015-04-21 21:22] inglesp opened #41 "Contact PyLadies chapters around UK"

[2015-04-21 21:22] inglesp opened #42 "Make updates to ticket form"
Specifically:
- add phone number field on ticket sales form
- add meal ticket at £45 per person
- address the concessions ticket for students, unemployed etc...

[2015-04-21 21:22] inglesp opened #43 "Suggest sponsorship actions and checklists"

[2015-04-21 21:22] inglesp opened #44 "Gather phone numbers for CoC event contact protocol"

[2015-04-21 21:22] inglesp opened #45 "Share details of past hidden costs"

[2015-04-21 21:23] inglesp commented on #22
Closing, because I think this is covered by #11.

[2015-04-21 21:23] #22 closed, assigned to snim2

[2015-04-21 21:24] #36 closed, assigned to inglesp

[2015-04-21 21:25] nceder commented on #41
Emails sent on 21/04/15 to organisers of PyLadies London & Edinburgh, Django Girls London & Edinburgh, cc Ola Sitarska.

[2015-04-21 21:27] inglesp commented on #41
Hurrah @nceder -- unless there's anything else you think we need to do on this issue, close at will!

[2015-04-21 21:28] #18 closed, assigned to nobody

[2015-04-21 21:28] #20 closed, assigned to nobody

[2015-04-21 21:28] nceder commented on #41
I'd keep it open to record responses as they come in... unless you think that's too much record-keeping?

[2015-04-22 06:52] snim2 commented on #22
Issue #11 seems to be closed too. I'll open an issue on the site repo so that the PR can reference that.

[2015-04-22 08:23] moonmar commented on #10
I have had an email conversation with Harald and have reserved his accommodation at the IBIS.

[2015-04-22 08:25] inglesp commented on #10
Super, thanks.

[2015-04-22 08:25] #10 closed, assigned to nobody

[2015-04-22 09:33] ntoll commented on #29
I've done this and followed it up with an email a couple of days ago to say I was going to sign them up to the admin list. That they have not replied to confirm is worrisome. Will send out an email right now. Don't want to appear spammy.

[2015-04-22 09:36] ntoll commented on #29
OK... follow up email sent. I'll close this ticket when I get a response.

[2015-04-22 09:39] ntoll commented on #32
It was done - twice!

[2015-04-22 09:41] ntoll commented on #31
+1 - it's all on the ticket form. We can book something end of July once we have a handle on the numbers.

[2015-04-22 09:43] ntoll commented on #42
These have all been done. Still waiting for clarity on the concession modus operandi and I'll leave this open until it's all deployed.

[2015-04-22 09:45] ntoll commented on #37
Once consensus on concession modus operandi is agreed you ought to merge this (I shouldn't since it's my PR) ;-)

[2015-04-22 10:00] ntoll commented on #41
If anything, we need to record all this. I'm desperate to move away from the "it was all in John's head" model of conference organisation. ;-)

[2015-04-22 10:09] ntoll opened #46 "Food Provision"
We need to have a clear understanding of the catering requirements for the conference including estimates for numbers. Someone (me) should put this in an obvious place for everyone to see and be in touch with the venue to ensure they have a clear understanding of what food needs to be where at what time.

Off the top of my head these are:
- Python Beer from Fuzzy Duck.
- Breakfasts on Friday, Satu

[2015-04-22 10:17] moonmar commented on #46
A parent from last year has suggested that even though the sponsorship covered the young people costs, if we ask for a contribution from parents for food at least they know they are going to be fed as well.

[2015-04-22 18:27] moonmar commented on #45
I this has been done.  Zeth has calculated about £3k.  Budget spreadsheet updated.

[2015-04-22 18:28] inglesp commented on #45
:applause:

[2015-04-22 18:28] #45 closed, assigned to nobody

[2015-04-22 21:20] #11 closed, assigned to snim2

[2015-04-23 06:21] ntoll opened #47 "Correspondance Address for PyconUK Society"
To quote Mary, "I know the correspondence address is John's office but I doubt anyone else does."

Is this correct..? What happens when Thyme moves out..?

[2015-04-23 07:41] inglesp commented on #15
@zeth's started work on this.

@everyone, as we move to using these issues more and more for planning, it's important that you claim an issue if it's assigned to somebody else and you start working on it.

[2015-04-25 10:48] snim2 commented on #44
This is nearly ready to close... @inglesp have you been following the private email thread on this?

[2015-04-25 10:51] snim2 commented on #44
All numbers have been swapped now.

[2015-04-25 10:51] #44 closed, assigned to snim2

[2015-04-25 11:01] snim2 opened #48 "Detailed plans for handling CoC issues"
Nearer the time we should close this issue once we have:
- a rota of people to handle CoC issues during the conference
- a decision on whether we need extra phones and if so a plan for getting some and putting credit on them
- a plan for how to brief other volunteers on CoC issues
- a plan for how to make sure attendees know what to do in the event of a problem
- a plan for how to raise the CoC in

[2015-04-26 18:54] moonmar commented on #47
We will move the address before they move.  Currently searching for a suitable alternative.

[2015-05-03 11:10] moonmar commented on #48
a decision on whether we need extra phones and if so a plan for getting some and putting credit on them

We have four Moto E's from last year.  It will be easy enough to put credit on them.  I have also added my "running MP3 phone" to the housekeeping notes.  It is a payg phone.

[2015-05-03 11:11] moonmar commented on #46
Tea/Coffee breaks on Friday, Saturday, Sunday and Monday.

This has been changed to beverages available (main conference adults) all the time.  To prevent a rush at break times.

[2015-05-07 01:59] zeth opened #49 "Note to self. AGM script from email"
PyConUK is itself the annual general meeting of the PyCon UK
society. Welcome to the formal AGM part of PyCon UK 2013, we will try
to be prompt. If we take more than 5 mins of your time it would be
very disappointing.

We will have a report from the chairman, a report from the treasurer
and a vote on whether to re-elect continuing committee members.

John is at another session so I will give his r

[2015-05-07 02:03] zeth commented on #35
Mary took all the old mugs and T-shirts away. Any swag left over from this year I will throw at the delegates during the non-closing closing.

[2015-05-07 02:05] zeth commented on #47
Thyme are planning to keep a virtual office at the technocentre, mail will still be received and available there for as long as we want.

[2015-05-07 02:06] zeth commented on #47
Probably need a new address if/when we pick a bigger venue. I am happy to volunteer my address if no one has a better plan.

[2015-05-07 02:08] zeth commented on #48
Either will need some exact text, a specific slide or someone to call up. If the latter, it needs to be quite snappy as the opening plenary has many many notices.

[2015-05-07 02:09] zeth commented on #7
I found the password and shared the password in the IRC meeting. Anyone who missed it can ask me.

[2015-05-07 02:09] #7 closed, assigned to zeth

[2015-05-07 02:10] zeth commented on #34
I have a plan, will need volunteers for it.

[2015-05-07 02:12] zeth commented on #40
Was it Debian? Did he put lots of Python tools on the DVD? I know he was keen that Python users should consider supporting the open source world more generally, including the free software desktop.

[2015-05-07 02:38] zeth commented on #23
Europython often has clever automated ways of dealing with over-subscribed talks and generating repeats. Obviously ours is a much shorter conference, but it is worth thinking about what data we ask the session chairs to record and what we do with it.

[2015-05-07 02:40] zeth commented on #33
Renamed due the fact that it is all going to be in the restaurant now.

[2015-05-07 14:29] moonmar commented on #47
I think it would be better to have an "office" address.  Individuals have a
tendency to take holidays, which may make prove problematic to get mail.

M

On Thu, 7 May 2015 03:06 zeth notifications@github.com wrote:

[2015-05-07 22:35] lukestanley commented on #40
I don't think it was Debian, but probably was Debian based. I have a
command I'd like to have ran on John's systems to try finding it, the
details have been sent to you Zeth.
If we can't find it, or in addition we could do a group vote on the best
Python distros or such for the conference, or as an ongoing thing.
--Luke

[2015-05-10 14:33] snim2 commented on #38
Looks like this can be closed?

[2015-05-10 14:45] snim2 commented on #43
I think the Google Docs document has a list of these now, so this can be closed?

[2015-05-11 13:01] ntoll commented on #46
These issues have been addressed in the recent meeting at the Techno Centre which was written up via email.

[2015-05-11 13:01] #46 closed, assigned to ntoll

[2015-05-11 13:02] ntoll commented on #43
This was all done at the beginning of last month. I'll close this with a reference to the Google doc here: https://docs.google.com/spreadsheets/d/1t-EjwN5-cyy2zeA_eTI5YTs1fmMvkZz6K4Ip00rvd3s/edit#gid=0

[2015-05-11 13:02] #43 closed, assigned to ntoll

[2015-05-11 13:07] ntoll commented on #29
OK... I've been in touch with DG and after an excellent meeting IRL the issue was left unresolved. Damn.

[2015-05-11 13:08] ntoll commented on #15
We have a blank timetable. What's stopping the merge from happening..?

[2015-05-11 16:40] #38 closed, assigned to nobody

[2015-05-11 16:41] inglesp commented on #39
Hard to do this since the CFP isn't open yet... moving to "June meeting" milestone.

[2015-05-11 17:01] inglesp commented on #15
Have merged #41, so I think we can close this.

[2015-05-11 17:01] #15 closed, assigned to zeth

[2015-05-11 18:25] jonathanfine commented on #38
Simon Sheridan has said YES.  (Thank you for closing this, @inglesp.)

[2015-05-11 19:04] nceder commented on #40
Contacted, heard back from PyLadies London and Brighton... will pursue others one more time

[2015-05-11 20:10] nceder commented on #41
Contacted, heard back from PyLadies London and Brighton... will pursue others one more time

[2015-05-13 12:59] zeth commented on #48
I think it is best that in the opening plenary I read directly from here:
http://www.pyconuk.org/codeofconduct/

[2015-05-13 13:14] zeth commented on #5
Pie Pie Pie

[2015-05-13 13:14] #5 closed, assigned to zeth

[2015-05-13 21:13] inglesp opened #50 "Add News page to website"

[2015-05-13 21:13] inglesp opened #51 "Make space on site for project-specific pages"

[2015-05-13 21:13] inglesp opened #52 "Add page to site about Trans*Code"

[2015-05-13 21:13] inglesp opened #53 "Add page to site about Django Girls"

[2015-05-13 21:13] inglesp opened #54 "Contact hawkz about styles for each page"

[2015-05-13 21:13] inglesp opened #55 "Write checklist for session chairs"

[2015-05-13 21:14] inglesp opened #56 "Plan and publicise BOFs"

[2015-05-13 21:14] inglesp opened #57 "Plug conference at PyData"
Speak to Ian and Florian.

[2015-05-13 21:14] inglesp opened #58 "Work out who has access to YouTube channel"

[2015-05-13 21:14] inglesp opened #59 "Arrange relaying keynotes to overflow room"

[2015-05-13 21:14] inglesp opened #60 "Move useful information from wiki to site"

[2015-05-13 21:14] inglesp opened #61 "Move wiki to 2014.pyconuk.net"

[2015-05-13 21:16] inglesp opened #62 "Organise job fair"

[2015-05-13 21:18] #37 closed, assigned to ntoll

[2015-05-13 21:18] #42 closed, assigned to ntoll

[2015-05-24 21:32] #41 closed, assigned to nceder

[2015-05-25 04:50] d0ugal commented on #41
/cc @rebkwok

[2015-05-25 11:44] nceder commented on #41
Indeed, I've been in touch with Becky already. :-)

On 25 May 2015 at 05:50, Dougal Matthews notifications@github.com wrote:

##

Naomi Ceder
https://plus.google.com/u/0/111396744045017339164/about

[2015-05-25 11:50] d0ugal commented on #41
Oh, good! I thought you might have but wanted to check. Sorry for the noise!

[2015-05-28 21:54] lukestanley commented on #26
Yes  - to take output peoples numbers from the ti.to - the new ticketing / payment solution and loop over them or similar with Twilio.
Even CSV export could work.
@ntoll Is there a login or something I should have? I signed up with my usual email address on https://ti.to/signup

[2015-06-13 06:28] #50 closed, assigned to inglesp

[2015-06-13 06:28] #51 closed, assigned to inglesp

[2015-06-15 08:13] ntoll commented on #53
http://www.pyconuk.org/djangogirls/

[2015-06-15 08:13] #53 closed, assigned to ntoll

[2015-06-15 08:13] ntoll commented on #54
See email exchange via the mailing list (and @hawkz super designs)

[2015-06-15 08:13] #54 closed, assigned to ntoll

[2015-06-15 08:24] hawkz opened #63 "Create a list of to-be-designed assets"
I need a list (or assigned ticket) with what artwork is needed, ideally with the size it'll be printed/displayed at, and the lead time on getting it sent off (thinking t-shirts / merch especially).

Come at me!

[2015-06-15 08:38] ntoll commented on #55
See here: https://github.com/PyconUK/checklists/blob/master/session-chair.rst

[2015-06-15 08:38] #55 closed, assigned to ntoll

[2015-06-15 08:39] ntoll commented on #56
BOFs are in the skeleton conference schedule. Will announce BOFs at the start of September.

[2015-06-15 08:39] #56 closed, assigned to ntoll

[2015-06-15 08:39] ntoll commented on #57
This was mentioned to Ian. See email exchange on the mailing list for more details.

[2015-06-15 08:39] #57 closed, assigned to ntoll

[2015-06-15 08:40] ntoll commented on #30
This has been done. See email exchange that the admin list was cc'd into.

[2015-06-15 08:40] #30 closed, assigned to ntoll

[2015-06-15 18:55] zeth commented on #35
Mugs chucked, everything else useful is in Mary's garage.

[2015-06-15 18:55] #35 closed, assigned to zeth

[2015-06-15 18:55] zeth commented on #35
Sandra quit also.

[2015-06-16 08:57] ntoll commented on #29
I'll close this issue since the DG prefer to communicate via email to me. :-/

[2015-06-16 08:57] #29 closed, assigned to ntoll

[2015-06-16 08:58] ntoll commented on #6
I think this has been covered by numerous dojo and projects night announcements. ;-)

[2015-06-16 08:58] #6 closed, assigned to inglesp

[2015-06-16 09:00] ntoll commented on #40
Do we really need this..? People are quite picky about the OS they use so are likely to ignore anything we suggest. What exactly was John trying to achieve..? If there's nothing happening for this may I suggest we close this issue..?

[2015-06-16 09:02] ntoll opened #64 "Email Nicholas with details about accommodation"
So we can put this stuff on the website somewhere.

[2015-06-16 09:07] ntoll opened #65 "Submit proposal for PSF funding of Trans*Code"
To be done with @ntoll.

[2015-06-16 09:08] ntoll opened #66 "Write to PSF board about generic conference sponsorship"

[2015-06-16 09:08] ntoll opened #67 "Create a pull request to ensure the CfP is "retired" correctly."

[2015-06-16 09:08] ntoll opened #68 "Confirm the names of the on-the-ground DjangoGirls organisers"

[2015-06-16 09:09] ntoll opened #69 "Advertise the Science track"

[2015-06-16 09:10] ntoll opened #70 "Discussion of schedule themes / provisional timetable"
To be done with @snim2 and @inglesp

[2015-06-16 09:10] ntoll opened #71 "Organise an IRL meetup for brainstorming etc..."

[2015-06-16 09:11] ntoll opened #72 "Implement new menu system and sponsorship placeholder"
Based on the designs by @hawkz

[2015-06-16 09:50] nceder commented on #65
PSF guidelines are $50 per person where there is 6 hours or more of Python instruction, $10 a head for conferences, and unspecified for hack days.

Keeping this in mind, I'd suggest we apply for support for Django Girls from the PSF and pool the money from that and sponsorship to support both Django Girls and Trans Code.

[2015-06-16 10:17] ntoll commented on #65
Sounds like a plan! This is also linked with issue #66. I guess there are two emails to send (one for each issue).

Given the expected numbers we have and the way the PSF buckets up funds I guess we could be asking for the following:
- 30 x $50 ($1500) for the Django Girls
- 40 x $50 ($2000) for the teacher's track
- 100 x $50 ($5000) for the kids track
- 300 x $10 ($3000) for the other delegates

[2015-06-16 10:21] nceder commented on #65
That's a lot, but there is a lot going on - we'd probably want to make that clear. I have no idea if they'll fund all of it.

In any case, I think they will want to know somewhat specifically what the money for the last three items will be supporting - meals? admission? venue? etc... (Django Girls I think they know it would be full tickets, but it wouldn't hurt to make whatever it is clear).

[2015-06-16 10:32] ntoll commented on #65
It is a lot. For each of the final three items the cost breakdown would be:
- Teacher's track. We only have funding for the cover of the supply teachers. PyConUK is swallowing the cost of the teacher's reduced rate tickets. The $50 per teacher would bring us closer to our "at cost" ticket for each teacher.
- Kids track. To be honest, we only have support for the kids track to the extent that it co

[2015-06-16 10:39] nceder commented on #65
Yes, I'd include those breakdowns in the email.

I assume you've seen this, but the guidelines on a grant proposal are here: https://www.python.org/psf/grants/

It definitely smooths the process of those points are covered. Also we might send one or more of those components to the Outreach and Education committee. However, I have no idea what it's status is at the moment.

But yes, please feel fre

[2015-06-16 11:33] lukestanley commented on #40
I have a find command that sorts by date that I asked to be ran. I'm happy to go over there sort it with @zeth or Robert.

[2015-06-16 12:19] ntoll commented on #65
An email was sent to the PSF today. Please see the PyConUK admin list for a copy.

[2015-06-16 12:19] #65 closed, assigned to nceder

[2015-06-16 12:19] ntoll commented on #66
An email was sent to the PSF board about this. Please see the PyConUK admin list for a copy.

[2015-06-16 12:19] #66 closed, assigned to ntoll

[2015-06-17 21:00] ghickman commented on #72
@ntoll – do we have any other assets beyond this one that was sent [to the list](https://mail.python.org/mailman/private/pyconuk-adm/attachments/20150612/4e155c4b/attachment-0001.jpg)? (not sure if I'm missing something on the list!)

[2015-06-19 18:38] ghickman opened #73 "Write a Visa letter for attendee"
Raising on behalf of Mary.

An attendee needs a letter to get a Visa for their flight here.

[Thread for context](https://mail.python.org/mailman/private/pyconuk-adm/2015-June/003320.html).

[2015-06-19 21:00] holdenweb commented on #73
Here's a letter I wrote for a DjangoCon 2014 delegate so he could obtain a visa from his local American consulate/embassy. I make no representation to understand the requirements of the UK government having been a stranger to these shores this last twenty years, but I hope it will make an apparently onerous task suddenly seem easier. I tried to attach the PDF version but Github wouldn't have it. A

[2015-06-20 06:49] moonmar commented on #73
I have drafted a very short version of a To Whom It May Concern letter.

I do not know the gentleman concerned and the linguistics conference he attended last year doesn't appear, on the face of it, to be associated by Python.

Does anyone know him?

TO WHOM IT MAY CONCERN

This letter is to confirm that Ibrahim Mubarak is a registered delegate for the Pycon UK 2015 Conference.

The conference wil

[2015-06-20 06:49] #73 closed, assigned to nobody

[2015-06-20 18:36] moonmar opened #74 "Visa for delegate from Ghana"
I don't know how I closed the last issue but I have asked the delegate for more information and propose Zeth sends the attached as Chairman.  It is based on Steve Holden's letter used for a Django conference delegate.

20 June 2015
To Whom It May Concern:

I write to confirm the invitation of IBRAHIM MUBARAK of Accra, Ghana, to visit the United Kingdom to participate in PyconUK 2015 at Coventry Te

[2015-06-22 16:17] snim2 commented on #69
Blog post drafted; list of people to email drawn up.

[2015-06-23 10:52] snim2 opened #75 "Delete old website repo"
The old [pyconuk.github.io](https://github.com/PyconUK/pyconuk.github.io) doesn't seem necessary any more. The version control history was carefully moved over and the new site is working really well. Would it be less confusing for new people if we just delete the old repo? I think so... If people really want to keep it around "just in case" I have some private repositories on another account that

[2015-06-23 11:15] d0ugal commented on #75
If you want to keep the history, and make it available. Just do a commit that deletes all the files other than the README.

[2015-06-23 18:53] holdenweb opened #76 "Redirection required for uk.pycon.org"
It appears as though this domain used to point to Github pages of some sort. Since *.pycon.org is the canonical name for PyCon events, it would be best if we could have it as a CNAME for the existing site.

[2015-06-23 18:55] holdenweb opened #77 "Dates insufficiently visible"
The new header for the site is wonderful, but sadly a visit to the [home page](http://www.pyconuk.org/) does not reveal the dates at a glance. Since this is the most important single piece of information that potential delegates require, it will be helpful to have it as a part of every page header.

[2015-06-24 10:20] moonmar commented on #64
The information last year's (2014) wiki is mostly still relevant.  Except the IBIS was definitely not full the last time I had an email from their GM.

[2015-06-24 10:22] moonmar commented on #49
I have never received any £s from members.  Shouldn't we do this with a paper form?

[2015-06-24 10:23] moonmar opened #78 "Decide What Needs To Be Bought, eg lanyards"
Now that the cost of the conference venue hire and food is covered we can think about ordering:

t-shirts
mugs
badges and lanyards
swag bags
audio video services

What else?

[2015-06-24 12:07] inglesp commented on #78
Hi @moonmar -- this is terrific, thanks.  I'm creating issues for each of these, but we should keep this one open for brainstorming purposes.

[2015-06-24 12:19] inglesp opened #79 "Make decision on t-shirts"
We need to think about conference t-shirts!

Everybody should read http://theagileadmin.com/2015/06/18/shirtops-how-to-make-t-shirts-for-tech-conferences-that-people-actually-wear/ and http://geekfeminism.wikia.com/wiki/T-shirts.

One question: do we actually need t-shirts?  I know quite a few people who never wear their shirts, and I sometimes think it's wasteful of both budget and the environmen

[2015-06-24 12:19] inglesp opened #80 "Design and order mugs"
We need to design and order mugs!

(The same arguments could be made about not having mugs as for not having t-shirts, but I think the mugs are something that we do pretty well and are distinctive to the conference, so I'd vote to continue providing them.)

What needs to happen next?

[2015-06-24 12:19] inglesp opened #81 "Design and order swag bags"
We need to design and order swag bags!

What needs to happen next?

[2015-06-24 12:22] inglesp opened #82 "Plan Audio/Visuals"
Do we try to do this ourselves again this year, or do we outsource it?

I can look into what it might cost to outsource.

[2015-06-24 12:49] ghickman commented on #75
I've found prefixing the github repo name with `__LEGACY__` or something equally noteworthy has worked well for me in the past. However @d0ugal's suggestion might be more obvious on first glance as GitHub will auto redirect to new urls?

[2015-06-24 20:55] moonmar commented on #47
Addressed changed to Services for Education Birmingham 1 care of Tim Williams.

[2015-06-24 20:55] #47 closed, assigned to nobody

[2015-06-24 20:57] moonmar opened #83 "Reconcile Rachel Willmer affiliates"
We receive affiliate fees through the website for hotel bookings. Links need to be updated on 2015 site.

[2015-06-29 17:26] moonmar commented on #74
Closed as events have taken over request for Visa.

[2015-06-29 17:26] #74 closed, assigned to zeth

[2015-07-02 19:19] moonmar commented on #81
I have added Steve Hawk to this because he needs to see the image on the bag.

[2015-07-03 00:24] zeth commented on #49
I assume you mean for people who didn't buy a ticket? Well the main thing is speed. but I guess I could mention the form on the day before?

[2015-07-03 07:17] zeth opened #84 "Brochure"
This can wait until a little further down the line but I write the issue so I remember.

Since we are with it quite early this year and a few people expressed a desire for dead tree program; maybe we should go all out and have a delegate brouchure?

Since the talks and schedule are in RST, there is rst2pdf and other tools that help us make a pdf without too much hassle.

Main question would be:
1.

[2015-07-03 09:07] moonmar commented on #48
We have two mobile numbers for the CoC now

0793 373 7922; and

0774 335 2447

[2015-07-03 09:13] moonmar opened #85 "Update Web Site with Sponsors Logos"
So far we have received funds from

Pluralsight

2nd Quadrant

PSF

In order to honour our commitment to them we need to broadcast this.  Who is updating the website with this information?

[2015-07-03 09:16] moonmar opened #86 "Set up sponsors' booths"
Some sponsors want a table to plonk their wares, others want pop up banners.  We need to work out where they can go.

Also Transcode and Django Girls will be located in the space at the stairwell on the first floor.

[2015-07-05 13:34] snim2 opened #87 "Move stuff from the Mooney garage to venue"
Someone with a large car is required to help move boxes of swag and PyCon UK kit from storage to the venue.

[2015-07-05 13:45] snim2 commented on #69
Call for participation written and sent out.

[2015-07-05 13:45] #69 closed, assigned to snim2

[2015-07-05 14:58] snim2 commented on #67
It looks like this has been done, can we close this Issue?

[2015-07-05 18:35] #67 closed, assigned to ntoll

[2015-07-11 14:24] ntoll commented on #26
For the record, Daniele is the person for Ti.To signups. :-)

[2015-07-11 15:00] lukestanley commented on #26
@evildmp I signed up to Ti.to and I need my account to pull phone numbers from CSV, or the some other way through the API. lukestanley is probably my user name. Can you sort my access out?

[2015-07-11 19:41] moonmar commented on #26
Hi Luke

I have just been into ti.to and under the Attendees tab I got the option to
export to CSV etc.

_Mary_
_Mobile_ - +44 (0) 7857 373727

On 11 July 2015 at 16:00, lukestanley notifications@github.com wrote:

[2015-07-13 08:03] ntoll commented on #68
The names of the Django Girls organisers are:

Helen Sherwood-Taylor
Eleni Lixourioti
Päivi Suomela

[2015-07-13 08:03] #68 closed, assigned to ntoll

[2015-07-13 08:04] ntoll commented on #64
The new accommodation page can be found here:

http://www.pyconuk.org/hotels/

[2015-07-13 08:04] #64 closed, assigned to nobody

[2015-07-13 08:05] ntoll commented on #78
I think we agreed not to have video services this year except for a "live link" from the main hall to the overflow room.

[2015-07-13 08:08] ntoll commented on #79
Summary of the bikeshedding on the mailing list: we use yellow, blue and red as colours to designate attendee type (team, community, regular).

Because I like shaving yaks, I suggested the following code to appear on them:

[code]

[2015-07-13 08:08] ntoll commented on #79
Also, I believe it's a bit late to ask attendees if they want a t-shirt (or not). That should've been on the ticket form. :-(

Something to look at for next year..?

[2015-07-13 09:29] ghickman commented on #79
As somewhat of a conference/sponsor t-shirt hoarder I definitely understand and agree with them being quite wasteful (the local charity shops do fairly well from them round here). However I think Nicholas has nailed the situation on the head with it being too late to ask attendees about them for this year. Next year we could design them before tickets go out so attendees can decide if they want th

[2015-07-14 19:07] moonmar commented on #78
We have 177 lanyards left over from last year so we need to order 325 plus 500 badge holders

[2015-07-17 17:58] #75 closed, assigned to nobody

[2015-07-17 17:59] inglesp commented on #39
CFP's closed, so closing this.

[2015-07-17 17:59] #39 closed, assigned to nobody

[2015-07-17 18:26] inglesp opened #88 "Plug poster sessions"
We can all do this, but @nceder volunteered during the meeting.

@nceder, do you have/want access to the twitter account?

[2015-07-17 18:26] inglesp opened #89 "Start discussion about other swag"
At Monday's meeting, @zeth said: "Something cool like the ducks but new idea" and we agreed we'd discuss it further.  @zeth, can you elaborate?

[2015-07-17 18:26] inglesp opened #90 "Coordinate those with community tickets"
This is quite a big ticket.  @ntoll, feel free to break into subtasks that can be shared around.

[2015-07-17 18:26] inglesp opened #91 "Publicise creche"

[2015-07-17 18:26] inglesp opened #92 "Share plans for relay to overflow room and recording of talks"
In Monday's meeting, it seemed like @zeth has made some plans for both relaying audio/video from the main room to the overflow room, and for recording talks more generally.

I think @lukestanley also has had some thoughts here.

Over to you two.

[2015-07-17 18:34] inglesp commented on #79
At Monday's meeting, there was a bit of concern that this trope has been "over-memed", but we've had no other suggestions.

If anybody has other ideas, this is the place to make suggestions.  This kind of thing can get quite bikesheddy quite quickly, so I'd like to put a time limit on discussions here: if we don't appear to have reached a consensus by Friday 24th July, we should have a vote.

[2015-07-17 18:35] inglesp opened #93 "Produce seating plan for dinner"

[2015-07-17 18:39] inglesp opened #94 "Organise badges"
Assigning to @ntoll in the first instance, since he's got a cunning plan for this.

[2015-07-17 18:43] inglesp commented on #72
@ghickman -- I think this is the issue we talked about during Monday's meeting, and we agreed that we'd ask @hawkz for help.  Can you update issue this with where we're at now, and then ping @hawkz?

[2015-07-17 18:48] inglesp opened #95 "Produce agenda for AGM"

[2015-07-17 19:39] nceder commented on #88
Yes, I sent two posts to the Python UK list a couple of days ago:

https://mail.python.org/pipermail/python-uk/2015-July/003774.html
https://mail.python.org/pipermail/python-uk/2015-July/003776.html

So I was hoping someone would propagate those. I don't know that I need
access to the twitter account myself - I'll tweet it from my accounts, and
if someone else could tweet from the PyCon UK account

[2015-07-19 09:07] ghickman commented on #72
@hawkz – I got as far as getting a working column layout of the menu `<li>`s using the `column-width` and `column-count` properties. I reworked the `header` layout to make the black banner, nav and sponsor block inline-block elements with a wrapper div to constrain their width.

However, where I really got stuck was making this work with the media breakpoints. I've done my work on the [`new-menu-l

[2015-07-27 09:52] hawkz commented on #81
Great - what do you need? Same spec as last year? do we have any sponsor graphics to include?

[2015-07-28 18:27] moonmar commented on #81
Same spec as last year.  Someone has offered sponsorship for the swag bag but I cannot remember who.  Nicholas might know.

[2015-07-29 18:33] moonmar commented on #79
We need to have a vote because we need to get graphics ready for the t-shirt order.

Please vote on whatever the options were - I can't remember.

[2015-07-31 12:32] zeth commented on #92
Well we do have plans for overflow.

We don't have plans for recording of talks yet. Especially outside the main room.

[2015-08-03 19:36] inglesp opened #96 "Announce schedule"
Announce schedule through usual channels, and add to the news page at http://www.pyconuk.org/news/.

[2015-08-03 21:23] holdenweb commented on #78
Do we plan to give speakers a gift? It's a nice way to say "thank you" and they don't need to be horrendously expensive: just some piece of swag that only speakers get.

If we could at least do decent audio, this could be listened to in conjunction with the slides. Pity there'll be no videos - that's a lot of useful information going to waste

[2015-08-06 08:38] moonmar commented on #78
Gifts:  I am not sure we have.  A box of Cadbury's Dairy Milk Chocolates comes to mind.  Inexpensive and local.

[2015-08-06 08:41] moonmar commented on #94
Found about 200 badge holders.  Takes document 8.5 x 6 cm comfortably.

[2015-08-10 19:53] ntoll commented on #88
Cheers! :-)

[2015-08-10 19:53] #88 closed, assigned to nceder

[2015-08-11 18:36] inglesp opened #97 "Schedule Naomi's keynote"

[2015-08-13 19:35] zeth commented on #97
Ready here:
https://github.com/PyconUK/pyconuk.org/pull/112

[2015-08-13 19:35] #97 closed, assigned to zeth

[2015-08-17 11:35] inglesp opened #98 "Send breakdown of shirt-sizes to Mary on Thursday 20th."

[2015-08-24 20:17] zeth opened #99 "Agenda Items"
Please give me your agenda items here and I will make sure there are in the AGM announcement.

Agenda annoucement to go Sept 1st so put them here before that.

[2015-08-24 20:22] zeth commented on #99
- Statements from Chair
- Statement from Treasurer
- Presentation of New Financial Support Plan
- Statement on Diversity
- Statement on Educational Outreach
- Future co-operation with PSF
- PyCon UK 2016
- Constitutional Amnedments:
  - Proposal to add promotion of diversity as an aim of the society
  - Proposal to add educational mission as aim of the society
  - Other proposals
- Election of 10

[2015-08-24 20:24] zeth commented on #99
Note here is the script from the John era:
https://github.com/PyconUK/planning2015/issues/49

[2015-08-25 12:36] snim2 commented on #99
This agenda has been transcribed here:

https://github.com/PyconUK/PyConUKSociety/blob/master/agm_agendas/2015AGM_agenda.md

So any changes should be made on that repo via PR (and merged by @zeth)

[2015-08-25 12:36] #99 closed, assigned to nobody

[2015-08-25 13:46] zeth commented on #99
Perfect.

On 25 August 2015 at 13:36, Sarah Mount notifications@github.com wrote:

[2015-08-31 13:56] inglesp commented on #98
This has been done.

[2015-08-31 13:56] #98 closed, assigned to nobody

[2015-08-31 13:56] inglesp commented on #96
This has been done.

[2015-08-31 13:56] #96 closed, assigned to ntoll

[2015-08-31 13:57] inglesp commented on #94
This has been delegated to @jonathanfine, Steve (Holden) and Simon.

[2015-08-31 13:58] inglesp commented on #91
This has been done.

[2015-08-31 13:58] #91 closed, assigned to ntoll

[2015-08-31 13:58] inglesp commented on #89
It's too late to do anything about this.

[2015-08-31 13:58] #89 closed, assigned to zeth

[2015-08-31 13:59] inglesp commented on #85
This has been done.

[2015-08-31 13:59] #85 closed, assigned to nobody

[2015-08-31 13:59] inglesp commented on #84
@zeth, is this going to happen?

[2015-08-31 13:59] inglesp commented on #83
This has been done.

[2015-08-31 13:59] #83 closed, assigned to ntoll

[2015-08-31 14:00] inglesp commented on #82
Dupe of #92.

[2015-08-31 14:00] #82 closed, assigned to inglesp

[2015-08-31 14:01] inglesp commented on #81
@hawkz, @moonmar, have these been ordered yet?

[2015-08-31 14:01] inglesp commented on #80
@hawkz, @moonmar, what's the latest on this?

[2015-08-31 14:02] inglesp commented on #79
The shirts have been designed and ordered.

[2015-08-31 14:02] #79 closed, assigned to nobody

[2015-08-31 14:22] inglesp commented on #77
Migrating to https://github.com/PyconUK/pyconuk.org/issues/135.

[2015-08-31 14:22] #77 closed, assigned to nobody

[2015-08-31 14:25] inglesp commented on #76
@holdenweb -- good idea.  Would you be able to make this happen?

[2015-08-31 14:35] inglesp commented on #72
This is done.

[2015-08-31 14:35] #72 closed, assigned to ghickman

[2015-08-31 14:35] inglesp commented on #71
Don't think this is going to happen!

[2015-08-31 14:35] #71 closed, assigned to zeth

[2015-08-31 14:36] inglesp commented on #70
We have a schedule!

[2015-08-31 14:36] #70 closed, assigned to zeth

[2015-08-31 14:36] inglesp commented on #63
@hawkz, anything else you need here?

[2015-08-31 14:37] inglesp commented on #61
@zeth, any progress with this?

[2015-08-31 14:41] inglesp commented on #60
The only thing I can see that we have on the wiki but not on the website is the FAQ, which is out of date.

@zeth, do you want to do anything with this?

[2015-08-31 14:42] inglesp commented on #59
This is covered by #92.

[2015-08-31 14:42] #59 closed, assigned to zeth

[2015-08-31 14:43] inglesp commented on #58
@zeth, any progress on this?

[2015-08-31 14:43] inglesp commented on #52
This is done.

[2015-08-31 14:43] #52 closed, assigned to nceder

[2015-08-31 14:44] inglesp commented on #49
@zeth, now we've got https://github.com/PyconUK/PyConUKSociety, is there anything we need to do here?

[2015-08-31 14:44] inglesp commented on #40
@lukestanley, is anything going to happen here?

[2015-08-31 14:45] inglesp commented on #31
We've got a creche.

[2015-08-31 14:45] #31 closed, assigned to ntoll

[2015-08-31 14:45] inglesp commented on #26
@lukestanley, what's going to happen with this?

[2015-08-31 14:49] inglesp commented on #95
@zeth, now that we've got https://github.com/PyconUK/PyConUKSociety/blob/master/agm_agendas/2015AGM_agenda.md, can this be closed?

[2015-08-31 14:53] inglesp commented on #78
I think it's been decided on the mailing list that we're not going to get gifts for speakers.

I think everything else has been covered -- @moonmar, is that right?

[2015-08-31 14:54] inglesp commented on #87
@moonmar, have you had any volunteers for this?

[2015-08-31 14:58] inglesp commented on #23
I like the idea but I think this is going to be one thing too many to organise.

If somebody wants to make this happen then please re-open the issue!

[2015-08-31 14:58] #23 closed, assigned to nobody

[2015-08-31 15:04] inglesp commented on #33
@snim2 / @zeth, what else needs to happen here?

[2015-08-31 15:05] inglesp commented on #34
@zeth, is now the time to share the plan and to start finding volunteers?

[2015-08-31 15:08] inglesp commented on #86
@moonmar, what needs doing here?

[2015-08-31 15:13] inglesp commented on #48
@snim2, thanks for the clear outline of what we need to do here.

This task doesn't have an owner, so I'm assigning to you.

[2015-08-31 15:15] inglesp commented on #93
Could we have a volunteer to do this?

[2015-08-31 18:51] holdenweb commented on #76
I think so. I'll contact Marc-André Lemburg, who administers the pycon.org domain.  S

[2015-08-31 19:41] moonmar commented on #81
Swag bags have been ordered and artwork sent to Heart of England.

[2015-08-31 19:41] #81 closed, assigned to hawkz

[2015-08-31 19:44] moonmar commented on #78
Mugs, lanyards/badge holders, swag bags ordered.

T-shirts being sorted (artwork to be resolved)

[2015-08-31 19:44] moonmar commented on #87
err, no.

[2015-08-31 19:46] moonmar commented on #33
Need to organise boxes to put the badges in.  Not having personal names on mugs is going to make life a lot easier.

Could have a separate table for the swag bags.

Tshirts will be issued on separate desk, probably by Sheila the Personal Shopper to the Pycon Community.  She will need someone to help.

Young Person reception will be in main Reception on Saturday, OIC Suki Kaur (a YP parent who has

[2015-08-31 19:48] moonmar commented on #86
Identify which sponsors want

tables
pop up banners

Do they need power?

Find places to put them.

If we can ditch the big MAC screens near the John Siddeley room (CC 2.1) that would release two more options.

[2015-08-31 19:48] moonmar commented on #80
Done and dusted.

[2015-08-31 19:48] #80 closed, assigned to moonmar

[2015-08-31 19:53] bloodearnest commented on #94
Yo, this is me on github, feel free to assign away,

[2015-09-01 07:24] hawkz commented on #63
I don't think anyone else needs anything at this unless we wanted to pre-plan 2016... so we're likely all good.

[2015-09-01 07:24] #63 closed, assigned to hawkz

[2015-09-01 09:46] snim2 commented on #93
In the past we have used a script which John had. Perhaps someone has a copy... ?

[2015-09-01 09:47] snim2 commented on #84
If not, we should move this to the Planning 2016 repo

[2015-09-01 09:48] snim2 commented on #61
That URL works, but the "new" wiki, which we are deprecating, has not rolled over to 2015...

[2015-09-01 09:50] snim2 commented on #60
- I'm not sure all the accommodation stuff moved over.
- Is there a way to see a list of every page on the wiki, so we can check?

[2015-09-01 13:42] zeth commented on #84
Well the biggest dependency was to make the schedule 80 columns so that
rst2pdf would not choke on it which we have done. We also have Moreati's
non-tabular version, so it is not impossible that we make a brochure
version.

On 1 September 2015 at 10:47, Sarah Mount notifications@github.com wrote:

[2015-09-02 09:07] inglesp opened #100 "Show the right sponsorship banners in the right places at the right times"

[2015-09-02 16:57] lukestanley commented on #26
I have:
-Coded this: https://github.com/PyconUK/sms_conference
-Tito access to download CSV file
-Setup a paid Twillio account with $20 of credit, linked to my bank account

I can set this up on a designated computer at the conference, and tell core organisers about it.
I can send Mary an invoice for credit used.

[2015-09-03 07:16] moreati commented on #87
My car isn't large, but we'll see on Sunday if it's doable in 1-3 trips

[2015-09-03 12:17] moonmar commented on #87
Hi Alex. I wasn't suggested we move stuff this Sunday - just count things
so we know how much new stock needs to be ordered.

M
On 3 Sep 2015 8:16 am, "Alex Willmer" notifications@github.com wrote:

[2015-09-03 12:47] moreati commented on #87
Sorry, I meant: I volunteer to move things when the time comes, provided it won't take too many trips. I'll see on Sunday how many trips that is likely to be.

[2015-09-03 19:18] moonmar commented on #87
Noted Alex and others.

_Mary_
_Mobile_ - +44 (0) 7857 373727

On 3 September 2015 at 13:47, Alex Willmer notifications@github.com wrote:

[2015-09-04 09:13] inglesp opened #101 "Work out what signs are required around the venue"
We'll need signs for the following:
- PythonAnywhere room (CC1.3)
- Osper Room (CC1.4)
- YPlan Room (CC1.8)
- LaterPay Room (CC2.1, Friday)
- The Software Sustainability Institute Room (CC2.1, Saturday & Sunday)
- LaterPay Learning Space (the Bistro)
- Sprint room(s)
- DjangoGirls
- TransCode
- Teachers' CPD room(s)
- PyKids room(s)

What have I missed?

[2015-09-04 09:13] inglesp opened #102 "Make signs"
Once we've established what signs we need for the conference (see https://github.com/PyconUK/planning2015/issues/101), somebody will need to make them.

[2015-09-04 09:13] inglesp opened #103 "Put up signs around venue"

[2015-09-04 12:23] holdenweb commented on #101
Arrowed signs from the registration desk so that anyone can find their way to any room from there just by following signs? If someone points me at a map I could work out the necessary branching structure

[2015-09-04 12:24] holdenweb commented on #102
We can print A3 color here at work, so I should be able to handle that if the specification is ready soon.

[2015-09-04 12:41] moonmar commented on #101
To Registration
On 4 Sep 2015 1:23 pm, "Steve Holden" notifications@github.com wrote:

[2015-09-05 10:33] inglesp opened #104 "Buy some stickers for badges"
Some people will not want to be photographed at the conference.  We can allow them to indicate this by putting a sticker on their badges.

[2015-09-05 10:33] inglesp opened #105 "Make stickers for badges available at reception"
See https://github.com/PyconUK/planning2015/issues/104.

[2015-09-05 15:27] moonmar commented on #102
Thanks for that Steve.  Is there a Github issue around this?  That might be
a good way of managing who is doing what for signage.

It also raises the question of equipment for the reception desk.  I have a
laptop that can be used but we will need a printer, you can guarantee it.
Previously we had the facilities provided by Thyme.

Shall I print my ink jet or should we just buy a printer from PC Wo

[2015-09-07 07:33] holdenweb commented on #102
Not aware of an issue, but feel free to start one.

I'd suggest we buy a printer, then either raffle it off or give it away as
a door prize.

I'm also planning to bring my ticket printer of on-site badge-making.

S

On 5 September 2015 at 16:27, Mary Mooney notifications@github.com wrote:

##

Steve Holden
Senior Developer Advocate

[2015-09-07 10:37] inglesp commented on #84
So @zeth, is this going to happen?

[2015-09-07 10:37] inglesp commented on #78
Sounds like this is done then, thanks @moonmar.

[2015-09-07 10:37] #78 closed, assigned to moonmar

[2015-09-07 10:37] inglesp commented on #61
I think it's clear enough that http://pyconuk.net/ is not where things are at.

[2015-09-07 10:37] #61 closed, assigned to zeth

[2015-09-07 10:43] inglesp commented on #60
Looks to me like the only information we're missing from the accommodation page is about couch surfing, and it's probably too late to do anything useful here.

I've got no idea how to see a list of every page on the wiki -- I'm getting `FullSearchCached: execution failed [20] (see also the log)` errors when I try to list all the categories.

Given that we've not had any questions from delegates th

[2015-09-07 10:43] #60 closed, assigned to zeth

[2015-09-07 10:43] #40 closed, assigned to lukestanley

[2015-09-07 10:44] #95 closed, assigned to zeth

[2015-09-07 10:44] #49 closed, assigned to zeth

[2015-09-07 10:49] zeth commented on #84
Probably not, to be honest I am not keen enough on it to do it myself since
I have too many PyCon UK balls juggling already, made a message to the
list. Probably can close it.

On 7 September 2015 at 11:37, Peter Inglesby notifications@github.com
wrote:

[2015-09-07 10:54] #84 closed, assigned to zeth

[2015-09-07 10:59] inglesp commented on #26
Hi @lukestanley -- have just had a look at this and it looks like the code will do what it says on the tin.

The next steps are to work out when this would need to be used, as well as how we would make use of it if we did need to use it.

[2015-09-07 11:01] inglesp commented on #28
I've discussed this with @nceder, who's going to make sure there's appropriately-signed unisex toilets in the simulation centre.

She also suggested providing people with stickers to indicate that they don't want their photo taken.

[2015-09-07 11:01] #28 closed, assigned to nceder

[2015-09-07 11:24] snim2 commented on #60
I think the only question remaining is whether it is worth moving this to Planning 2016, if there is information on the old wiki (for example the historical records of all previous PyCon UKs) that people would like to keep somewhere / somehow. In which case, this might make a good Sprint problem...

[2015-09-07 12:31] inglesp commented on #33
@moonmar, this looks good.

@ntoll's finding some community volunteers to set up the info desk, and to staff it during registration, and they can be pointed at this issue.

Do we need to make sure that there's always a member of the committee on hand at the info desk?

[2015-09-07 12:31] inglesp commented on #48
The original issue mentions "a Hangout / appear.in for the CoC group to discuss how to handle issues in more detail".

@snim2, can you schedule this?

[2015-09-07 12:32] inglesp commented on #76
Thanks Steve -- let us know when you've made some progress.

[2015-09-07 12:33] inglesp commented on #86
I'll contact sponsors this week and find out exactly what they need.

[2015-09-07 12:34] inglesp commented on #90
This is happening!

[2015-09-07 12:34] #90 closed, assigned to ntoll

[2015-09-07 12:34] inglesp commented on #92
@zeth, what's the latest on this?

[2015-09-07 12:37] inglesp commented on #101
@holdenweb, that's a good idea.

@zeth / anyone, do we have a map of the venue?

[2015-09-07 12:40] inglesp commented on #102
@moonmar / @holdenweb -- there is an issue, and you've both commented on it by replying to the notification emails!

If we don't have a printer then I can see that it'd make sense to buy one, but bringing one from home is going to be less work.  @moonmar, are you sure you're happy for us to use yours?

[2015-09-07 12:40] inglesp commented on #62
I'm on this -- see recent emails to mailing list.

[2015-09-07 12:41] snim2 commented on #48
Ok, will do

[2015-09-07 12:43] inglesp commented on #93
I don't think the script is the difficult bit!

This has been discussed a little on the mailing list under the "Badge Logistics" thread.  @bloodearnest, since you're working on badges, could you take this on too?

[2015-09-07 13:48] holdenweb commented on #76
Request sent today.

[2015-09-07 19:00] lukestanley commented on #26
It was built as a solution for if there was a schedule change to notify people but there are obviously other things it could be used for.
It could be handy for other announcements too.

[2015-09-08 09:18] zeth commented on #101
Two signs for overflows with the following text:

First Class
(Overflow)

[Feel free to be more creative or witty.]

[2015-09-08 09:23] zeth commented on #101
No floor plan. I just have this list of rooms:
http://www.coventry.ac.uk/business/conference-facilities/technocentre/room-planner/

The main thing is most of the rooms are obvious to find, the ones that are not are:

LaterPay Room (CC2.1, Friday)
The Software Sustainability Institute Room (CC2.1, Saturday & Sunday)
LaterPay Learning Space (the Bistro)

Especially CC2.1 will need signage from the a

[2015-09-08 10:05] moonmar commented on #101
I think I have something at home.  Will look tonight.

[2015-09-08 13:52] holdenweb commented on #76
Correspondence with Marc-André Lemburg: it seems that there's already a CNAME pointer to pyconuk.org from uk.pycon.org. The issue is that Github's server doesn't know to serve that domain, so is presumably rejecting the requests. Github pages for the win. Not.

On 07.09.2015 15:46, Steve Holden wrote:
Hi Marc-André,

PyCon UK is currently running under pyconuk.org. Would it be possible to register

[2015-09-08 17:28] moonmar commented on #101
I have some plans.  How do I put them here?

[2015-09-08 17:29] moonmar commented on #101
Unfortunately, we don’t support that file type.  Try again with a PNG, GIF, JPG. - ha ha.  They are PDFs.

Ideas please folks.

[2015-09-08 17:41] moonmar commented on #101
I've committed the plan to https://github.com/PyconUK/planning2015/blob/master/TCConfrencePlans.pdf

[2015-09-09 10:58] moreati commented on #87
The current inventory (plus expected purchases) will easily fit in my car.

The swag is yet to arrive. IIRC the swag last year filled my car plus an escort van, if that's being delivered to Mary's garage we'll need additional arrangements.

[2015-09-09 11:30] moreati opened #106 "Equipment for Education Track/Raspberry Pis"
### Requirements

| Required | Item | Present | Comments |
| --: | --- | --: | --- |
| 100 | Power sockets (50 pi, 50 monitor) | 176 | 54 on reels, 122 on ext. leads |
| 30 | Keyboards | 4 |  |
| 30 | Mice | 1 |  |
| 50 | USB power supplies | 0 |  |
| nn? | Monitors | 6 |  |
### Shopping list
- [x] 30 mini keyboards
- [x] 30 mice
- [x] 50 USB power supplies (1A or better)
- [ ] nn HDMI monitors?

[2015-09-09 11:46] moonmar commented on #87
Swag is going direct to conference venue

[2015-09-09 12:31] ntoll commented on #106
Please add gaffer tape and ties to keep the electrical wires under control.

Also, we do have some (10?) monitors somewhere (Zeth????).

The PSU should be capable of running a RPi.

Yay... many many many thanks!

[2015-09-09 12:42] moonmar commented on #106
Alex

Is the list of existing stock listed. It seems Nicholas is asking for more monitors, or perhaps not

[2015-09-09 13:13] ntoll commented on #106
I'm saying that PyCon UK own some monitors and they're not listed here. Do we know where they are? If so, I'd like to use them :-)

[2015-09-09 13:31] moreati commented on #106
6 monitors are listed here, note the 3rd column. Are you saying there's more than 6?

[2015-09-11 08:22] moreati commented on #106
@ntoll ping

[2015-09-11 09:55] moreati commented on #106
Front runner so far is ModMyPi

| Product | Qty | Price | Total (ex VAT) |
| --- | --: | --: | --: |
| [Power Supply - UK Plug 5V 2A](https://www.modmypi.com/raspberry-pi/accessories/power-supplies/power-supply-uk-plug-5v-2a) | 50 | £4.16 | £249.48 |
| [White 3 Button Optical Mouse with Scroll Wheel - Wired USB](https://www.modmypi.com/raspberry-pi/accessories/keyboards-and-mice/white-3-button-opt

[2015-09-11 12:48] ntoll commented on #106
@moreati pong

Monitor situation OK.

We just need keyboards... I only said "mini" for storage reasons.

[2015-09-11 17:22] moreati commented on #106
@moonmar are you happy to place the above order (the links go directly to the products in question), or would you prefer I did?

To remove any chance of miscommunication. We need the mice, the keyboards and the power supplies. Nicholas's previous comment is clarify that any type of keyboard will do - they don't have to mini.

[2015-09-11 18:07] moreati opened #107 "Property of PyCon UK Society stickers"
We're buying a lot of kit, we should mark it as belong to us. I'm not suggesting anything like holograms, ~~or serial numbers~~.

Just something that'll stay stuck and say:

Edit: It's hard to find asset labels that don't come with serial numbers/barcodes.

[2015-09-11 18:23] moreati commented on #107
Bookmarking http://www.patlabel.co.uk/asset-labels-appliance-property-colours-p-129.html

[2015-09-12 08:55] inglesp opened #108 "Discuss post-conference storage"
From an email from Mary:

"Can you put up an issue for me about storage post conference.  We need to talk about it.  We are purchasing a lot of valuable equipment and need somewhere safe to store it before the next conference.

I am happy to seek quotations for a storage bin, if that is way we decide."

[2015-09-12 11:49] moreati commented on #106
These have been ordered, they should arrive at the Technocenter on Monday or Tuesday. At Mary's request I switched the full size keyboards to compact ones.

[2015-09-12 11:49] #106 closed, assigned to nobody

[2015-09-12 11:54] moreati commented on #107
@moonmar What do you think of getting asset labels for the kit? The cost would be £25 for 1000 with our name, contact details (e.g. a telephone number or email address) and a unique serial/barcode. We don't have to use the barcodes, but they cost the same regardless.

[2015-09-12 12:21] moonmar commented on #107
I think that would be a splendid idea.  We have spent in excess of £2k so far, not including the equipment stored from previous years.

[2015-09-12 12:22] moonmar commented on #94
Steve Ha, Simon and Jonathan seem to have this in hand.  I believe Jonathan is printing and I will be folding and stuffing on Thursday, at the venue.  Lanyards and badge holders have been delivered to the Venue.

[2015-09-13 10:49] moreati commented on #107
Is there an existing telephone number for the society? One that'll be around and able to ring a year or 2 years from now? Would reusing one of the CoC numbers be appropriate?

Plan B: I'll put https://www.pyconuk.org in the telephone field

[2015-09-14 07:38] moonmar commented on #107
There is no reason why we can't use the CoC number ending 1565. It is our phone after all.

[2015-09-14 07:39] moonmar commented on #107
Sorry that's it imei number. 07743 352447

[2015-09-14 07:39] moonmar commented on #107
Number posted

[2015-09-14 07:39] #107 closed, assigned to nobody

[2015-09-14 09:35] moreati commented on #107
Labels ordered, I'll bring them on Thursday

[2015-09-14 13:54] moreati commented on #106
These have shipped, tracking info: http://www.dhl.co.uk/content/gb/en/express/tracking.shtml?AWB=9475527946&brand=DHL

[2015-09-16 17:15] inglesp commented on #48
Hi @snim2 -- is this going to happen?

If not, I'd really like to have a short meeting tomorrow or first thing Friday morning to discuss how we're going to handle any conduct complaints.  At the moment, I'm not really sure what would happen if somebody does make a complaint or raise a concern about conduct.

[2015-09-16 17:15] inglesp commented on #93
@bloodearnest -- how's this looking?

[2015-09-16 17:16] snim2 commented on #48
Sorry, I let this slip. If enough of us are around tomorrow evening that would be best, then we can brief the other volunteers on Friday.

[2015-09-16 17:16] inglesp commented on #104
I'll buy these tomorrow.

[2015-09-16 17:20] inglesp commented on #102
@holdenweb's made some super signage and has shared with the mailing list -- hurrah!

[2015-09-16 17:20] #102 closed, assigned to nobody

[2015-09-16 17:20] inglesp commented on #103
@holdenweb, what time are you arriving at the venue?

[2015-09-16 17:21] inglesp commented on #26
Something's hacked together -- thanks @lukestanley -- so I'm going to close this.

[2015-09-16 17:21] #26 closed, assigned to lukestanley

[2015-09-16 17:21] inglesp commented on #76
Thanks @holdenweb -- sounds like there's nothing we can do about it this year.

[2015-09-16 17:21] #76 closed, assigned to nobody

[2015-09-16 17:22] inglesp commented on #92
Plans have been shared on the mailing list.

[2015-09-16 17:22] #92 closed, assigned to zeth

[2015-09-16 17:22] inglesp commented on #101
Signs have been made.

[2015-09-16 17:22] #101 closed, assigned to nobody

[2015-09-16 17:25] #33 closed, assigned to snim2

[2015-09-16 17:26] inglesp commented on #34
Doesn't look like @zeth's using these issues, so I'm closing this.

[2015-09-16 17:26] #34 closed, assigned to zeth

[2015-09-16 17:27] inglesp commented on #58
Clearly not.  We can cross this bridge as/when we come to it.

[2015-09-16 17:27] #58 closed, assigned to zeth

[2015-09-16 17:27] inglesp commented on #87
@moonmar -- does this mean that there's nothing left to track with this issue?

[2015-09-16 17:28] inglesp commented on #94
From the sounds of the mailing list, this is done.

[2015-09-16 17:28] #94 closed, assigned to jonathanfine

[2015-09-16 17:37] holdenweb commented on #102
Glad you think it's super

On 16 September 2015 at 18:20, Peter Inglesby notifications@github.com
wrote:

##

Steve Holden
Senior Developer Advocate

[2015-09-16 17:38] holdenweb commented on #76
But it's something we should definitely look into - I really don't
understand why we have to use Github pages, but I'm sure there was a
sensible reason for it.  S

On 16 September 2015 at 18:21, Peter Inglesby notifications@github.com
wrote:

##

Steve Holden
Senior Developer Advocate

[2015-09-16 17:46] inglesp commented on #76
I don't really want to get into a debate about the merits of GitHub Pages tonight when there's so much else to do -- except to say that it's been fantastic to see how many people have contributed to the website this year in a way that simply hasn't been possible before.  Not being able to redirect from uk.pycon.org seems a pretty minor inconvenience.

[2015-09-16 17:53] moonmar commented on #87
All sorted. Alex and Mary moving stuff to venue tomorrow (Thursday)

[2015-09-16 17:53] #87 closed, assigned to moreati

[2015-09-16 18:16] bloodearnest commented on #93
Finishing it tonight, planned output is a google doc that can be printed.

On 16 September 2015 at 18:15, Peter Inglesby notifications@github.com
wrote:

##

Simon

[2015-09-16 18:38] moonmar opened #109 "Where to put all the stuff on Monday!"
We have bought a lot of stuff for this conference.

It could return to the Minworth garage - but that is not the safest place for valuable equipment.

Are people happy for me to find a local store place, signing up perhaps for six months?

[2015-09-16 18:47] inglesp commented on #109
Sounds sensible -- what would it cost?

[2015-09-16 18:51] zeth commented on #58
I guess we ask for a password reminder and see who gets the email?

On 16 September 2015 at 18:27, Peter Inglesby notifications@github.com
wrote:

[2015-09-16 18:54] inglesp opened #110 "Stuff the swag bags"
We're expecting the following to be delivered to the venue for the swag bags:
- Abilisoft/Cobe.io: stickers and flyers
- HP: USB drives
- Nephila/Divio: notebooks and flyers (not for the children), and stickers (for everyone)
- Osper: "some stuff"
- PythonAnywhere: pens, in a box labelled "Promotional Pen Site"
- YPlan: shirts and flyers, arriving Thursday afternoon

Flyers should probably not be

[2015-09-16 19:27] moonmar commented on #109
I will do a search for prices sometime between now and Sunday.

[2015-09-16 19:56] inglesp commented on #100
We need to show banners in the following places at the following times:
- Friday
  - CC1.3: PythonAnywhere
  - CC1.4: Osper
  - CC1.8: YPlan
  - CC2.1: LaterPay
  - Simulation Centre: BAML
- Saturday
  - CC1.3: PythonAnywhere
  - CC1.4: Osper
  - CC1.8: YPlan
  - CC2.1: SSI
  - Bistro: LaterPay
  - Simulation Centre: BAML
  - Restaurant (breakfast): Osper
  - Restaurant (drinks and dinner): DueDil

[2015-09-16 21:00] inglesp commented on #86
We're expecting the following to take up booths:
- Pluralsight
- Nephila/Divio
- Osper
- 2nd Quadrant
- Cobe.io

None have asked for anything more exotic than a table and a power socket.

[2015-09-17 07:23] holdenweb commented on #76
No need to convinve me - I'm not  great believer in revisiting done deals.
 S

On 16 September 2015 at 18:46, Peter Inglesby notifications@github.com
wrote:

##

Steve Holden
Senior Developer Advocate

[2015-09-17 10:56] snim2 commented on #110
I have some swag for the SSI room. This is an SSI zip stand, SSI leaflets and stickers and Overleaf swag. I will bring this along and put it in the room on Friday night / Sat morning.

[2015-09-17 22:45] inglesp commented on #48
This has been done off list.

[2015-09-17 22:45] #48 closed, assigned to snim2

[2015-09-17 22:46] inglesp commented on #103
This has been done, thanks @doismellburning.

[2015-09-17 22:46] #103 closed, assigned to nobody

[2015-09-17 22:46] inglesp commented on #110
There was some super stuffing this evening, thanks everyone.

[2015-09-17 22:46] #110 closed, assigned to nobody

[2015-09-17 22:48] inglesp commented on #104
I've bought these and they're in a stationary at the reception.

[2015-09-17 22:48] #104 closed, assigned to inglesp

[2015-09-20 10:29] ghickman commented on #93
Dinner was eaten, seats were found. Good job everyone involved!

[2015-09-20 10:29] #93 closed, assigned to nobody

[2015-09-20 11:30] moonmar commented on #108
Well Sheila and I hope to be going home around 2pm this afternoon.

We have an AWFUL lot of stuff.  Some of it quite valuable.

Tim has suggested he takes the high value items and stores them until we decide where all our stuff needs to go.

We need to find a home for the rest:

gang sockets
monitors
keyboards
mice
and other stuff
I can put them up temporarily in my garage.  I am thinking of retur

[2015-09-21 08:59] #62 closed, assigned to inglesp

[2015-09-21 08:59] #86 closed, assigned to inglesp

[2015-09-21 08:59] #100 closed, assigned to inglesp

[2015-09-21 08:59] #105 closed, assigned to inglesp

[2015-09-22 12:11] moonmar commented on #108
Sorted. We have contracted for four weeks at Coventry SafeStore.  Will relocate to a smaller locker at the end of the 4 weeks.

[2015-09-22 12:11] #108 closed, assigned to moonmar

[2015-09-22 12:11] #109 closed, assigned to nobody